.wrapper {
   height: 50px;
  }
  
  .container {
    background-color: pink;
  }
  
  .barCompleted {
    background-color: lightblue;
    width: 80%;
  }
  
  .label {
    font-size: 15px;
    color: green;
  }